@charset "UTF-8";

h2 {
	margin-top: 0px;
}

table {
	background-color: white;
	border-spacing: 5px;
}

span.attending {
	color: #060;
}

span.absent {
	color: #900;
}

.widepagepart {
	border-style: solid;
	border-color:#999999;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	
	padding: 10px;
	
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}
